server:
  port: 8080
spring:
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:local}
  application:
    name: "autenticacion"
  devtools:
    add-properties: false


management:
  endpoints:
    web:
      exposure:
        include: "health,prometheus"
  endpoint:
    health:
      probes:
        enabled: true